apache-airflow-providers-snowflake 
apache-airflow-providers-common-sql 
asn1crypto 
cryptography 
filelock 
Flask-AppBuilder 
greenlet 
oscrypto 
pyOpenSSL 
pycryptodomex 
rich
snowflake-connector-python 
snowflake-sqlalchemy 
SQLAlchemy 
sqlparse 
typing-extensions 